td>select{
  width: 3rem;
}
td>select:first-child{
  width: 12rem;
}
td select{
  font-size: 1.2rem;
}
#text-correct{
  color: #040;
  background-color: #bfb;
}
#text-next-char{
  text-decoration: underline;
}
#text-to-type{
  color: #555;
}
#text-wrong{
  color: red;
  background-color: #faa;
}
#text-to-type-input{
  margin-top: 1rem;
  font-size: 2rem;
}
#text-to-type-input.error{
background-color: #faa;
}
.card{
  padding: 0;
}
#scribo-box.complete{
  background-color: #bfb;
}
#text-to-type-display{
  transition: color 0.2s ease-in-out;
}
#text-to-type-display.inactive span{
  color: #bbb;
}