.card-header tbody>td:nth-child(2){
  color: red;
}
.card-header table{
  width: 100%;
}
.card-header table tbody td{
  width: 50%;
}
.card-header table tbody td:nth-child(2){
  text-align: right;
}
td:nth-child(2):hover {
  text-decoration: underline;
}
table#stats td:nth-child(1) {
  font-weight: 600;
}